*{margin: 0;padding: 0;}
img { width: 100%;display: block;}
input,button{ border: none; border-radius: 0; background: none; outline: none; }
a{ display: block;}
html { font-family: "microsoft yahei", "Arial"; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; width: 100%; height: 100%; font-size: 62.5%;}
body { min-width: 320px; width: 100%; height: 100%; margin: 0 auto; background: #ffefef;
    tap-highlight-color: rgba(0,0,0,0); 
    focus-focus-ring-color: rgba(0, 0, 0, 0); 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);}

.banner{ background:#bbd00b;height: 13rem;}
.coupons{ padding: 1rem;width: 100%;margin: 0 auto;}

.list-group{
	width:100%;
	background: #ffefef;
}
	
.list-item{
	width: 100%;
	position: relative;
	margin-bottom: 1rem;
}
.list-item::after{
	content: '';
	display: table;
	clear: both;
}
.list-item::after{
	*zoom: 1;
}
.item-left-piture,.item-right-picture{
	height: auto;
	float: left;
}
.item-left-piture{
	width: 77.5%;
}
.item-right-picture{
	position: relative;
	width: 22%;
}
.item-classify,.item-price{
	position: absolute;
	font-weight: bold;
	left:5%;
}
.item-classify{
	top:20%;
}
.item-classify label{
	color:white;
	font-size: 4.7vw;
}
.item-price{
	top:52.5%;
	color:#fcff00;
	margin-top: 2vw;
	font-size: 5.5vw;
}
.item-price i{
	font-size: 6.8vw;
	vertical-align: top;
}
.item-rule,.item-label,.item-overtime{
	position: absolute;	
	font-size: 3.1vw;
	left: 34%;
	color:#ffe8ed
}
.item-label{
    top: 20%;
}
.item-label span{
	color: #feffbc;
    padding: 0 1rem;
    border: 1px solid #feffbc;
}
.item-rule{
    top:45.5%;
}
.item-overtime{
	top:67.5%;
}
.item-right-btn img{
	position: absolute;
	width: 80%;
}

.btn1-pic{
	left:10%;
	top:40%;
}
.btn2-pic{
	top: 10%;
    left: 10%;
}
	
@media screen and (max-device-width: 320px) {
	.item-classify,.item-price{
		position: absolute;
		font-weight: bold;
		left:3%;
	}
	.item-rule,.item-label,.item-overtime{
		position: absolute;	
		font-size: 3.1vw;
		left: 30%;
		color:#ffe8ed
	}
}
.coupon_footer{ padding: 2rem 0 4rem;}

.success_popup{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.7); display: none;}
.success_popup .main{ position: absolute; top: 50%; left: 50%; width: 85%; text-align: center; 
    -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); background: #fff;}
.success_popup .main h3{ background: url(http://pic.lvmama.com/mobile/zt/WeChat/380coupons/images/popup_bg.png); -webkit-background-size: 100% 100%; background-size: 100% 100%;
    font-size: 2rem; color: #fff; line-height: 4.5rem;}
.success_popup .main p{ font-size: 1.2rem; color: #333; line-height: 3rem; margin-top: 1rem;}
.success_popup .main button{ height: 3.5rem; font-size: 2.1rem; color: #fff; border-radius: 20px; background: #f32e4a; padding: 0 4rem; margin: 1.5rem 0; font-weight: bold;}